<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CHAT_BASE_URL</key>
	<string>$(CHAT_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ABCDiatype-BoldItalic-Trial.otf</string>
		<string>ABCDiatype-Bold-Trial.otf</string>
		<string>ABCDiatype-Medium-Trial.otf</string>
		<string>ABCDiatype-Regular-Trial.otf</string>
		<string>FKRasterRomanCompactRounded.otf</string>
		<string>FKRasterRomanCompactTrial-Smooth.otf</string>
		<string>FKRasterRomanCompactTrial-Sharp.otf</string>
		<string>FKRasterRomanCompactTrial-Blended.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
